//Primary Colors

//Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

//Neutral Colors

$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Very-Dark-Blue: hsl(229, 57%, 11%);

//Font Weight
//400, 700

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background-color: $Very-Dark-Blue;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    height: 425px;

    .container {
        margin: 200px auto;
        text-align: center;

        .left {
            background-color: $Dark-Blue;
            height: 250px;
            width: 300px;
            display: inline-block;
        }

        .right {
            background-color: $Dark-Blue;
            height: 200px;
            width: 600px;
            margin-left: 40px;
            display: inline-block;
        }
    }
}
